* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header-text {
  font-size: 100px;
  text-align: center;
  margin-bottom: 20px;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.picture-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.picture-container img {
  height: 350px;
  width: 350px;
}

.modal {
  display: none;
  position: fixed;  
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  height: 100%;
  width: 100%;
  background-color: wheat;
}


.show-modal {
  display: block;
}


